{{!-- Login Form --}}
<div class="containerForm">
<form name="formLogin" method="post" action="/verifyUser" onsubmit="return validate()">
    <label>Logue agora</label>
    <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="usuário" />
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="senha" />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
</div>

{{!-- scripts --}}
<script type="text/javascript" src="../../js/login.js"></script>